---
layout: default
---

{% include blog_head.html %}
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <!-- Introduction -->
  <section id="introduction">
    <p>This platform aims to shine a light on unsung Iconic Indians across various fields. These remarkable individuals have made significant contributions but are often forgotten. By sharing their stories, we aim to inspire and educate, bringing these lesser-known heroes into the spotlight.
    </p>
    {%- assign about = site.pages | where: "path", 'about.md' | first -%}
    <p>This blog contains stories of {{ site.posts | size }} such iconic Indians. To know more about our vision, click on 
      <a href="{{ about.url | relative_url }}">
        {{ about.title | escape }}
      </a>
    </p>
    <p>
      <a href="{{ "/search/" | relative_url }}">Search Icons <button type="submit" style="padding: 5px;">🔍</button></a>
    </p>
    <p>
      {%- assign indianheroesquiz = 'https://indianheroesquiz.netlify.app/' -%}
      Checkout <a href="{{ indianheroesquiz | relative_url }}" target="_blank" rel="noopener noreferrer">Indian Heroes Quiz</a> to test your knowledge.
    </p>
  </section>
  <hr>
  <!-- Story of the day -->
  <section id="story-of-the-day">
    <h2>Story of the day</h2>
    <!-- Fetch the current day and month -->
      {% assign current_day = 'now' | date: "%d" %}
      {% assign current_month = 'now' | date: "%m" %}
      "date": "{{ current_day }}"
      "month": "{{ current_month }}"
      <!-- Initialize an empty array to store matching posts -->
      {% assign matching_posts = "" | split: "," %}

      <!-- Loop through all posts -->
      {% for post in site.posts %}
        {% assign post_day = post.date | date: "%d" %}
        {% assign post_month = post.date | date: "%m" %}
        "post title": "{{ post.title }}"
        "post date": "{{ post_day }}"
        "post month": "{{ post_month }}"
        <br>
        
        <!-- Check if the post's day and month match the current day and month -->
        {% if post_day == current_day and post_month == current_month %}
          {% assign matching_posts = matching_posts | push: post %}
        {% endif %}
      {% endfor %}
      <!-- Check if there are matching posts -->
      <!-- Select a random post -->
      {% if matching_posts.size > 0 %}
        {% assign random_post = matching_posts | sample %}
      {% else %}
        {% assign random_post = site.posts | sample %}
      {% endif %}
      <article>
      <h3><a href="{{ random_post.url }}">{{ random_post.title }}</a></h3>
      {% capture random_post_content %}
      {{ random_post.content | markdownify }}
      {% endcapture %}
      {% assign paragraphs = random_post_content | split: "<p>" %}
      {% for paragraph in paragraphs %}
      {% if forloop.index0 > 0 and forloop.index0 < 3 %}
        <p>{{ paragraph }}</p>
      {% endif %}
      {% endfor %}
      <p><a href="{{ random_post.url }}">(read the full story)</a></p>
    </article>
  </section>
  <hr>
  <!-- Categories -->
  <section id="categories">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <h2 class="post-list-heading">{{ page_paths.list_title | default: "Categories" }}</h2>
    <br>
    <ul class="post-list">
      {%- for path in page_paths -%}
        <li>
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title and my_page.title != "About" and my_page.title != "Settings" and my_page.title != "Search" -%}
              <a class="post-link" href="{{ my_page.url | relative_url }}">
                {{ my_page.title | escape }}
              </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </section>
</div>

