---
layout: default
---
{% include blog_head.html %}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.timeline }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <h2>Next Story</h2>
  {%- assign random_post = site.posts | sample -%}
  {% for counter in (0..9) %}
    {%- if random_post.url == page.url -%}
      {%- assign random_post = site.posts | sample -%}
    {%- else -%}
      {%- break -%}
    {%- endif -%}
  {% endfor %}
  <h3><a href="{{ random_post.url }}">{{ random_post.title }}</a></h3>


  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
<hr>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7862500213477576"
     crossorigin="anonymous"></script>
<!-- Indian Heroes -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7862500213477576"
     data-ad-slot="1616767483"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
